 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

:root {
    --hover: #d1d0d0;
    --light-color: #e2f2df;
    --dark-color: #313131;
}

 body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #95e689;
 }

 a {
    text-decoration: none;
    color: var(--light-color);
 }

 ul {
    list-style: none;
 }

 img {
    max-width: 100%;
 }


/* Navbar */

.navbar {
    margin: 0 auto;
    background-color: #4b8b40;
    padding: 20px;
    max-width: 1600px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
    margin-right:8px;
}

.navbar ul li a:hover {
    color: var(--hover);
}

 /* Utility Classes */

 .container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
 }

 
.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;  
}

.logo {
    display: flex;
    margin-right: 20px;
    max-width: 7cap;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left .page-name {
    font-weight: 600;
}

.navbar-left .page-name span {
    font-weight: 900;
    color: rgb(223, 101, 1);
}

/* ToDo */

.todo {
    display: flex;
    margin: 20px auto;
    background: aliceblue;
    max-width: 1200px;
    border-radius: 20px;
    text-align: left;
}


.todo .container {
    padding: 20px;
    width: 100%;
}

.todo .container .heading {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding-bottom: 30px;
    width: 100%;
}

.todo .container .heading p {
    color: #4e4e4e;
    font-size: 70%;
    text-align: center;
    margin: auto 0;

}

/* Posts */

.hero {
    display: flex;
    margin: 20px auto;
    background: aliceblue;
    max-width: 1200px;
    border-radius: 20px;
    text-align: left;
}


.hero .container {
    padding: 20px;
    width: 100%;
}

.hero .container .heading {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding-bottom: 30px;
    width: 100%;
}

.hero .container .heading p {
    color: #4e4e4e;
    font-size: 70%;
    text-align: center;
    margin: auto 0;
}

.hero .container .content {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.hero .container .content img {
    max-width: 50%;
}

/* About Me */

.whoami {
    display: flex;
    margin: 20px auto;
    background: aliceblue;
    max-width: 1200px;
    border-radius: 20px;
    text-align: left;
}


.whoami .container {
    padding: 20px;
    width: 100%;
}

.whoami .container .heading {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding-bottom: 30px;
    width: 100%;
}

.whoami .container .heading p {
    color: #4e4e4e;
    font-size: 70%;
    text-align: center;
    margin: auto 0;
}

.whoami .container .content .introduction {
    display: flex;
    align-items:left;
    padding-bottom: 20px;
}

.whoami .container .content .introduction p {
    margin: auto 0;
}

.whoami .container .content .introduction img {
    max-width: 100px;
    margin-right: 20px;
}

.whoami .container .content h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 120%;
    color: #525252;
}

/* Projects i'm working on */

.projects {
    display: flex;
    margin: 20px auto;
    background: aliceblue;
    max-width: 1200px;
    border-radius: 20px;
    text-align: left;
}


.projects .container {
    padding: 20px;
    width: 100%;
}

.projects .container .heading {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding-bottom: 40px;
    width: 100%;
}

.projects .container .heading p {
    color: #4e4e4e;
    font-size: 70%;
    text-align: center;
    margin: auto 0;
}

.projects .container .content .project {
    display: flex;
    align-items:left;
    padding-bottom: 20px;
    padding-top: 20px;
}

.projects .container .content .project p {
    margin: auto 0;
}

.projects .container .content .project img {
    max-width: 100px;
    margin: auto 0;
    margin-right: 20px;
}

/* Contact me */

.contactme {
    display: flex;
    margin: 20px auto;
    background: aliceblue;
    max-width: 1200px;
    border-radius: 20px;
    text-align: left;
}


.contactme .container {
    padding: 20px;
    width: 100%;
}

.contactme .container .heading {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding-bottom: 40px;
    width: 100%;
}

.contactme .container .heading p {
    color: #4e4e4e;
    font-size: 70%;
    text-align: center;
    margin: auto 0;
}

.contactme .container .content p {
    margin-bottom: 20px;
}

.contactme .container .content .introduction {
    display: flex;
    align-items:left;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #313131;
}

.contactme .container .content .introduction a {
    display: flex;
    align-items: left;
}

.contactme .container .content .introduction p {
    margin: auto 0
}

.contactme .container .content .introduction img {
    max-width: 50px;
    margin: auto 0;
    margin-right: 20px;
}

.contactme .container .content .introduction a p {
    color: #313131;
    margin: auto 0;
}

/* Buttons */

.navbutton {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding: 13px 20px;
    background: #2b7c2b;
    color: var(--light-color);
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5;
    opacity: 1;
}

.navbutton:hover {
    background: #2a722a;
}
